<p>Hello! Salut!</p>

<p>Vous êtes inscrit pour RailsBridge Montreal le 4 et le 5 avril. Pour qu'on puisse vous assigner le cours le plus approprié,
  veuillez remplir <%=link_to 'un petit questionnaire ', register_edit_path(email: @registrant.email, only_path: false) %> dès que possible.
  Le questionnaire vous donnera également l'occasion d'indiquer votre langue préferée et si vous avez d'autres besoins particuliers.
</p>

<p>L'événement est maintenant complet. Si vous ne pouvez plus assister, nous vous demandons d'annuler votre inscription sur le même lien indiqué pour céder la place à quelqu'un d'autre sur notre liste d'attente.   </p>

<p>You are registered for RailsBridge Montreal on April 4 and 5. In order to be assigned to the most appropriate course,
  please fill out this <%= link_to 'very short questionnaire ', register_edit_path(email: @registrant.email, only_path: false) %> as soon as possible.
  The questionnaire will also provide you with the opportunity to indicate yur preferred language(s) and any special needs you might have.
</p>

<p>The event is now full. We also ask that you cancel your registration if you are no longer able to attend to make room for someone else on our waiting list. You can do this under the same link above.</p>

<p>Merci! Thank you!</p>
