<p>Hi there,</p>
<p>You've got a new registrant on railsbridges-montreal.com</p>
<p>Their name is <%= @registrant.name %></p>
<p>And you can reach them at <%= mail_to(@registrant.email) %></p>
<p>Thanks, have a lovely day.</p>
