<p>Hi <%= @registrant.name %>,</p>
<p>You're going to RailsBridge Montreal!</p>
<p>We'll keep you in touch before the event.</p>
<p>Until then feel free to reach us at any time at <%= mail_to("info@railsbridge-montreal.com") %></p>
<p>Thanks, have a lovely day.</p>