<p>Bonjour <%= @registrant.name %>,</p>
<p>Tu vas participer à RailsBridge Montréal !</p>
<p>Nous vous tiendrons au courrant des prochains déroulements.</p>
<p>D'ici là, laisse-nous savoir si tu as des questions. Tu peux nous rejoindre sur <%= mail_to("info@railsbridge-montreal.com") %></p>
<p>Merci et bonne journée.</p>