$('#question-5').remove();
<% if @registrant.valid? %>
  $('.questions-form').append("<div class='registration-message'>Thanks for signing up, see you at the event.</div>");
<% else %>
  $('.questions-form').append("<div class='registration-message'>Sorry, but something has gone wrong, please refresh and try again.</div>");
<% end %>
