// Clear previous errors and alerts
$('input, textarea, select').closest('.form-group').removeClass('has-error');
$('.registration-form .registration-message').remove();

<% if @registrant.valid? %>

  $('.registration-form')[0].reset();
  $('.registration-form').append("<div class='registration-message'>Thank you! Your message has been successfully delivered.</div>");

<% else %>

  <% @registrant.errors.each do |error, message| %>
    $('.registration-form <%= error.to_s %>').closest('.form-group').addClass('has-error');
  <% end %>

  $('.registration-form').append("<div class='registration-message'><%= @registrant.errors.full_messages.join('. ') %></div>");

<% end %>