h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'AleoBold', Arial, sans-serif;
}

body {
  font-weight: 200;
  line-height: 1.5em;
  font-size: 16px;

  .lead {
    font-size: 18px;
  }

  li {
    margin-bottom: 8px;
  }
  p {
    margin: 0 0 1.4em;
  }

  h1, h2, h3 {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}
