<div class="banner">
  <div class="container">
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-6">
          <h1>Democratize <br/>Software<br/>Development</h1>
        </div>
        <div class="col-md-6">
          <p>
            RailsBridge Montreal is a <b>free</b> Ruby on Rails Workshop and <b>open to everyone</b>.
          </p>
          <p>Join us April 4<sup>th</sup> and 5<sup>th</sup> 2014</p>
          <p>
            <%= simple_form_for :registrant, url: registrants_path, remote: true, html: {class: "form-inline registration-form"} do |f| %>
              <%= f.input :name, label: false, placeholder: "your name" %>
              <%= f.input :email, label: false, placeholder: "your email" %>
              <button class="btn btn-success" type="submit">
                <i class="fa fa-rocket"></i> Register
              </button>
            <% end %>
          </p>
        </div>
      </div>
      <div class="row">
        <%= render "registrants/form" %>
      </div>
    </div>
  </div>
</div>
