<div class="banner">
  <div class="container">
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-6">
          <h1>Democratize <br/>Software<br/>Development</h1>
        </div>
        <div class="col-md-6">
          <p>
            RailsBridge Montreal is a <b>free</b> Ruby on Rails Workshop and <b>open to everyone</b>.
          </p>
          <p>Join us November 8<sup>th</sup> and 9<sup>th</sup> 2013</p>
          <p>
            <a class="btn btn-primary btn-lg" role="button">Register Now!</a>
          </p>
        </div>
      </div>  
    </div>
  </div>
</div>