<h1>Code of Conduct</h1>

<p><em>Français à venir...</em></p>

<p>RailsBridge Montreal is an all-ages event for people from many different backgrounds. We expect presenters, exhibitors/sponsors, and attendees to help make RailsBridge Montreal enjoyable for everyone, regardless of age, gender, sexuality, religious or ethnic identity, or ability.</p>

<h2>All attendees</h2>

<p>Everyone has something to contribute. Everyone deserves access to materials and community that will help them learn. As long as an individual can be respectful and not disruptive to other participants, they deserve to participate. Please show respect for all attendees and do not make assumptions about anyone's interests, skill level, or profession based on their appearance or background.</p>

<p>Offensive behaviour such as verbal abuse, intimidation, or harrassment will not be tolerated. Harassment includes offensive verbal comments related to gender, sexual orientation, disability, physical appearance, body size, race or religion, as well as sexual images in public spaces, following, unauthorized photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention. Remember that "no means no". If someone asks you to stop speaking about a particular subject, or to leave them alone, please do so. </p>

<h2>Volunteers, teachers and sponsors</h2>

<p>Please ensure that your presentation does not stigmatise, alienate, or marginalise any individual or group.</p>

<p>In particular:</p>
<ul>
<li>Keep your slide deck G-rated.</li>
<li>While criticism of software, programming practices, etc, is OK, please try to offer constructive improvements or alternatives as part of your talk.</li>
<li>Personal criticism and ad hominem attacks are never OK.</li>
</ul>

<h2>What to do if you feel harassed</h2>

<p>Organizers will identify themselves at the beginning of the event. If you aren’t sure who the organizers are or where to find them, ask any volunteer. To discuss any incidents or behaviour in violation of this code of conduct, please contact an organizer in person or email info@railsbridge-montreal.com. We will take any complaints seriously, and respond appropriately. Attendees and speakers who violate this Code of Conduct may be asked to remedy their behaviour, apologise, leave the event, or may be banned from future events.</p>

<p>As a speaker, if you are unsure whether content in your presentation is appropriate, please ask an organizer.</p>

<p>If you feel another student, volunteer or organizer has been disrespectful, but aren’t sure if it qualifies as harassment, feel free to respond to that person directly, and also alert one of the organizers.</p>

<h2>Status & attribution</h2>

<p>This Code of conduct is a work in progress. It is based largely on BridgeFoundry's <%= link_to 'Code of Conduct', 'http://bridgefoundry.org/code-of-conduct/' %> and the Geek Feminism wiki's <%= link_to 'example policy', 'http://geekfeminism.wikia.com/wiki/Conference_anti-harassment' %>. It is used under the terms of the <%= link_to 'Creative Commons Zero', 'https://creativecommons.org/publicdomain/zero/1.0/' %> license. Edits are <%=link_to 'welcome', 'https://github.com/railsbridge-montreal/railsbridge-montreal-website/issues/new' %>! </p>
