<h1>Schedule</h1>

<div class="container">

  <h3>Friday, September 23<sup>rd</sup>, 2016</h3>
  <div class="row">
    <div class="col-md-4">
      07:00 pm
    </div><!--  class="col-md-4" -->
    <div class="col-md-7">
      <h4>Arrival of participants</h4>
      <hr>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-4">
      07:30 pm - 08:30 pm
    </div>
    <div class="col-md-7">
      <h4>Installfest</h4>
      Bring your laptop and we'll help you get everything you need installed and
      ready for the big day. For a sneak preview, have a look at
      <a href="http://docs.railsbridge.org/installfest/">this guide.</a>
      Food will be provided, thanks to our sponsors!
      <hr>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-4">
      08:30 (optional, for beginners)
    </div>
    <div class="col-md-7">
      <h4>Foundational programming skills</h4>
      Make your first steps into programming!
      <hr>
    </div>
  </div>

  <h3>Saturday, September 24<sup>th</sup>, 2016</h3>
  <div class="row">
    <div class="col-md-4">
      08:30 am
    </div><!--  class="col-md-4" -->
    <div class="col-md-7">
      <h4>Arrival of participants and breakfast</h4>
      Eat some breakfast, drop your children to the <a href='/childcare'>free childcare</a> and relax a bit
      before we dive into the class. Perhaps chat with somebody new.
      <hr>
    </div><!--  class="col-md-8" -->
  </div><!--  class="col-md-8" -->
  <div class="row">
    <div class="col-md-4">
      9:00 am
    </div><!--  class="col-md-4" -->
    <div class="col-md-7">
      <h4>A word of introduction</h4>
      We have some annoucements and instructions to give you. The entire team will be officially presented to you.
      <hr>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-4">
      9:15 am - 10:30
    </div><!--  class="col-md-4" -->
    <div class="col-md-7">
      <h4>Class begins</h4>
      We'll work our way through the curriculum.
      Choose between:

      <hr>
      <div class="row">
        <div align="center" class="col-md-4">
          <a href=http://docs.railsbridge.org/ruby/>Ruby</a>
        </div><!--  class="col-md-4" -->
        <div align="center" class="col-md-4">
          <a href=http://docs.railsbridge.org/intro-to-rails>Intro to Rails</a>
        </div><!--  class="col-md-4" -->
        <div align="center" class="col-md-4">
          <a href=http://docs.railsbridge.org/job-board/>Advanced</a>
        </div><!--  class="col-md-4" -->

      </div><!--  class="row" -->
      <hr>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-4">
      10:30 am - 10:45 am
    </div><!--  class="col-md-4" -->
    <div class="col-md-7">
      <h4>Break</h4>
      Our Gold sponsor, Shopify, will have a table where you can have a chat with them! Ask them about employment and internships.
      <hr>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-4">
      12:00 pm - 1:00 pm
    </div><!--  class="col-md-4" -->
    <div class="col-md-7">
      <h4>Lunch</h4>
      Recharge with some lunch before finishing up the curriculum. Food will be provided, thanks to our sponsors!
      There will be a hot meal with vegetarian a vegan options. If you have any allergies, please mention it in your registration.
      <hr>
    </div><!--  class="col-md-8" -->
  </div><!--  class="row" -->
  <br>

    <div class="row">
    <div class="col-md-4">
      02:30 pm - 02:45 pm
    </div><!--  class="col-md-4" -->
    <div class="col-md-7">
      <h4>Break</h4>
      Have a snack! We'll have some fruits and refreshments.
      <hr>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-4">
      05:00 pm - 05:30 pm
    </div><!--  class="col-md-4" -->
    <div class="col-md-7">
      <h4>Wind-down</h4>
      We'll talk about where you can go from here and say our goodbyes.
      <hr>
    </div><!--  class="col-md-8" -->
  </div><!--  class="row" -->
  <br>

  <div class="row">
    <div class="col-md-4">
      05:30 pm - ? (optional)
    </div><!--  class="col-md-4" -->
    <div class="col-md-7">
      <h4>Afterparty</h4>
      Head to a local bar or restaurant, get some drinks and appetizers, and
      celebrate all the awesome new things you've learned! This is a great chance to
      ask your TAs about what it's like to work as a developer. I'm sure they'd love
      to answer any questions you can throw at them.
      <hr>
    </div><!--  class="col-md-8" -->
  </div><!--  class="row" -->
  <br>






</div><!-- class="container" -->
