<h1>Schedule</h1>

<div class="container">

  <h3>Friday, 23 Septembre, 2016</h3>
  <div class="row">
      <div class="col-md-4">
        06:30 pm - 08:30 pm
      </div><!--  class="col-md-4" -->
      <div class="col-md-7">
        <h4>Installfest</h4>
        Bring your laptop and we'll help you get everything you need installed and
        ready for the big day. For a sneak preview, have a look at
        <a href="http://docs.railsbridge.org/installfest/">this guide.</a>
        Food will be provided!
        <hr>
      </div><!--  class="col-md-8" -->
  </div><!--  class="row" -->

  <h3>Saturday, 24 Septembre, 2016</h3>
  <div class="row">
      <div class="col-md-4">
        9:00 am
      </div><!--  class="col-md-4" -->
      <div class="col-md-7">
        <h4>Breakfast</h4>
        Eat some breakfast (generously provided by <a href=#>somebody</a>) and relax a bit
        before we dive into the class. Perhaps chat with somebody new.
        <hr>
      </div><!--  class="col-md-8" -->
  </div><!--  class="row" -->
  <br>

  <div class="row">
      <div class="col-md-4">
        9:30 am
      </div><!--  class="col-md-4" -->
      <div class="col-md-7">
        <h4>Class begins</h4>
        After some introductory talks, we'll work our way through the curriculum.
        Choose between:
        <hr>

  <div class="row">
      <div align="center" class="col-md-4">
          <a href=http://docs.railsbridge.org/ruby/>Ruby</a>
      </div><!--  class="col-md-4" -->
      <div align="center" class="col-md-4">
         <a href=http://docs.railsbridge.org/intro-to-rails>Intro to Rails</a>
      </div><!--  class="col-md-4" -->
      <div align="center" class="col-md-4">
         <a href=http://docs.railsbridge.org/job-board/>Advanced</a>
      </div><!--  class="col-md-4" -->

  </div><!--  class="row" -->
        <hr>
      </div><!--  class="col-md-8" -->
  </div><!--  class="row" -->
  <br>

  <div class="row">
      <div class="col-md-4">
        12:30 pm
      </div><!--  class="col-md-4" -->
      <div class="col-md-7">
        <h4>Lunch</h4>
        Recharge with some lunch before finishing up the curriculum.
        <hr>
      </div><!--  class="col-md-8" -->
  </div><!--  class="row" -->
  <br>

  <div class="row">
      <div class="col-md-4">
        04:00 pm - 04:30 pm
      </div><!--  class="col-md-4" -->
      <div class="col-md-7">
        <h4>Wind-down</h4>
        We'll talk about where you can go from here and say our goodbyes.
        <hr>
      </div><!--  class="col-md-8" -->
  </div><!--  class="row" -->
  <br>

  <div class="row">
      <div class="col-md-4">
        05:00 pm - ? (optional)
      </div><!--  class="col-md-4" -->
      <div class="col-md-7">
        <h4>Afterparty</h4>
        Head to a local bar or restaurant, get some drinks and appetizers, and
        celebrate all the awesome new things you've learned! This is a great chance to
        ask your TAs about what it's like to work as a developer. I'm sure they'd love
        to answer any questions you can throw at them.
        <hr>
      </div><!--  class="col-md-8" -->
  </div><!--  class="row" -->
  <br>






</div><!-- class="container" -->
