.banner {
  background-color: $bg-banner;
  color: $font-banner;
  .jumbotron {
    background-color: $bg-banner;
    padding: 60px 0 30px;
    h1 {margin: 0;}

    .registration-message {
      margin-top: 10px;
      font-size: 14px;
      font-weight: normal;
      line-height: 1.4em;
    }
  }

  .vertically-centered {
    padding-top: 50px;
  }
}

.registration-form {
  .form-inline {
    display: inline-block;
  }
}

.questions-form .control-label {
  visibility: hidden;
}

.hidden-fieldset {
  visibility: hidden;
  height: 0px;
}

.hidden-fieldset h2 {
  margin: 0px 0px 0px 0px;
}

.questions-form label, .questions-form input {
  display:inline-block;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.questions-form input[type="radio"] {
  opacity:0.011;
  z-index:100;
  display: none;
}

.questions-form input[type="radio"]:checked + label {
  background:yellow;
}

.radio {
  margin: 0 0 0 .5em;
  display: inline-block;
}

.questions-form label {
  padding:5px;
  cursor:pointer;
  z-index:90;
  background: #FFF;
  color: $bg-banner;
  border: none;
  line-height: 1em;
  padding: .4em .5em .5em .5em;
  border-radius: 4px;
}

.questions-form label:hover {
  background: rgba(0, 0, 0, 0.3);
  color: #FFF;
}
