#footer {
  margin-top: 40px;
  padding: 35px 0;
  background-color: $bg-footer;
  color: $font-footer;
  a { color: $font-footer; font-weight: bold;}

  .title { color: $white; }
  .photos img {
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
  }
  .nav-list--hor {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    @include clearfix;
    > li {
      float: left;
      margin-right: 5px;
    }
  }
  .footer-form {
    margin: 20px 0;
  }
  .link-icon {color: $font-footer;}
}
.copyright {
  color: $font-copyright;
  background-color: $bg-copyright;
  padding: 10px 0;
  font-size: 12px;
}
