.registration-form {
  .registrant_name {
    width: 120px; // Avoid registration form breaking on 2 rows
  }
  .registration-message {
    margin-top: 10px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4em;
  }
  .btn {
    margin-top: 10px;
  }
}

