.sponsor {
  float: left;
  margin-right: 30px;
  line-height: 90px;
  img {
    vertical-align: middle;
  }
}
.sponsor--square {
  @extend .sponsor;
  img {width: 100px;}
}
.sponsor-gold {
  max-width: 250px;
}
.sponsor-silver {
  max-width: 150px;
}
.sponsor-bronze {
  max-width: 125px;
}
