$white: #FFF;

$bg-header: #FFF;
$bg-footer: #62707f;
$bg-banner: #db3a1b;
$bg-copyright: #4a5866;
$bg-button: #4a5866;

$font-header: #333;
$font-brand-subtitle: #db3a1b;
$font-footer: #eee;
$font-banner: #eee;
$font-copyright: #bbb;
$font-button: #eee;