<div class="row-fluid">
  <div class="span4">
    <%= link_to image_tag('logo.png', alt: ''), root_url %>
  </div>
  <div class="span6 offset2">
    <div class="row-fluid">
      <ul class="nav nav-pills pull-right">
        <%= render_links @navigation_menu %>
      </ul>
    </div>
    <div class="tagline">
      <h4>Democratize Software Development</h4>
      <p>RailsBridge Montreal is a <strong>Free Ruby on Rails Workshop </strong>and <strong>open to everyone.&nbsp;</strong>Come join us&nbsp;to learn Ruby!</p>
    </div>
    <div class="next_event_header">
      <%= link_to "Register Now", "http://www.eventbrite.com/event/5398230252/es2005/", class: "btn btn-primary" %>
      <p>Next event: <strong>May 3rd & 4th 2013</strong></p>
    </div>
  </div>
</div>