.head
  ul class="nav nav-pills pull-right"
    = render_links @navigation_menu
  h1.muted RailsBridge Montreal
  h4.tagline Democratize Software Development
  .next_event_header
    = link_to "Register Now", "http://www.eventbrite.com/event/5398230252/es2005/", class: "btn btn-primary"
    p Next event: <strong>May 4th & 5th 2013</strong>
  hr